body{
    font-size: .875rem;
}
.fasvg-inline--far{
    width: 16px;
    height: 16px;
    vertical-align: text-bottom; 
}

/*
* Sidebar
*/

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /*在navbar后面*/
    padding: 66px 0 0;  /*navbar的高度*/
    box-shadow: inset -1px 0 0 rgba(0,0,0,.1);
}

.sidebar-sticky{
    position: relative;
    top: 0;
    height: calc(100vh - 66px);
    padding-top: .5rem;
    overflow-x:hidden;
    overflow-y: auto; 
}

@supports((position: -webkit-sticky) or(position: sticky)){
    .sidebar-sticky{
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link{
    font-weight: 500;
    color: #333;
}
.sidebar .nav-link .svg-inline--fa{
    margin-right: 10px;
    color: #999;
}
.sidebar .nav-link.active{
    color: #007bff;
}
.sidebar .nav-link:hover .svg-inline--fa,
.sidebar .nav-link.active .svg-inline--fa {
    color: inherit;
}

/*
* content
*/
[role="main"]{
    padding-top: 66px;
}


/*
* bootstrap时间插件图标
*/
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../bootstrap.4.1.3/bootstrap-datepicker/fonts/glyphicons-halflings-regular.eot');
    src: url('../bootstrap.4.1.3/bootstrap-datepicker/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
    url('../bootstrap.4.1.3/bootstrap-datepicker/fonts/glyphicons-halflings-regular.woff') format('woff'), 
    url('../bootstrap.4.1.3/bootstrap-datepicker/fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
    url('../bootstrap.4.1.3/bootstrap-datepicker/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
  }
  
  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }
  .glyphicon-arrow-left:before {
    content: "\e091";
  }
  .glyphicon-arrow-right:before {
    content: "\e092";
  }